* {
   margin: 0;
   padding: 0;
}

header {
   height: 20px;
   display: flex;
   justify-content: space-between;
   padding-left: 20px;
   padding-right: 10px;
   padding-top: 18px;
   margin-right: 25px;
   margin-bottom: 0px;
   padding-bottom: 15px;
}

.navigation{
   background-color: #333;; 
   margin: 0;
}

.nav {
   display: inline-block;
   font-family: sans-serif;
   font-size:1.25rem; 
}
p {
   color: white;
   display: inline-block;
}

.icons{
   background-color: white;
   width: 18px;
}
.fa-solid {
   font-size: 20px;
   color: transparent;
   background-clip: text;
   background-image: linear-gradient(to right, white,white,white);
}

a {
   text-decoration: none;
   display: flex;
   justify-content: space-between;
   margin-left: 40px;
   margin-right: 35px;
   margin-bottom: 14px;
   margin-top: 5px;
   font-family: sans-serif;
   font-size:0.99rem;
   font-weight: bolde; 
}
ul {
   padding-bottom: 1px;
}
.fa-solid fa-bars{
   border-style: solid;
   border-color: white;
}
hr {
   height: 0.01px; 
   margin-left: 20px;
   margin-right: 20px;

   
}
