* {
   margin: 0;
   padding: 0;
}

header {
   display: flex;
   justify-content: space-between;
   padding-left: 20px;
   padding-right: 10px;
   padding-top: 18px;
   margin-right: 5px;
   margin-bottom: 0px;
   padding-bottom: 15px;
}

.navigation {
   background-color: #333; 
   margin: 0;
}

.nav {
   display: inline-block;
   font-family: sans-serif;
   font-size: 1.25rem; 
}
p {
   color: white;
   display: inline-block;
}

.icons {
   background-color: white;
   width: 18px;
}
.fa-solid {
   font-size: 20px;
   color: transparent;
   background-clip: text;
   background-image: linear-gradient(to right, tomato, tomato, tomato);
}
.hover-div:hover h2 {
   color: pink;
}

ul li a:hover p {
   color: tomato;
}
ul li a:hover i {
   color: white;
}
a {
   text-decoration: none;
   display: flex;
   justify-content: space-between;
   margin-left: 40px;
   margin-right: 35px;
   margin-bottom: 14px;
   margin-top: 5px;
   font-family: sans-serif;
   font-size: 0.99rem;
   font-weight: bold;
}
.hidden {
   display: none;
}
.visible {
   max-height: 500px; /* Adjust based on content */
   opacity: 1;
   transform: translateY(0);
}
   
#hamburger hr {
   width: 20px;
   margin-top: 5px;
   margin-bottom: 0px;
   cursor: pointer;
}
#hamburger {
   height: 28px;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 6px;
   padding-bottom: 5px;
   border-style: ridge;
   border-width: 0.1px;
   border-color: white;
   border: 1px solid transparent;
   box-shadow: 0 0 0px 1px rgba(239, 225, 225, 0.5);
   border-radius: 6px;
   margin-left: 190px;
   cursor: pointer;
}