* {
   margin: 0;
   padding: 0;
}
body {
   background-color: rgb(238, 238, 57);
   }

header {
   display: flex;
   justify-content: space-between;
   padding-left: 20px;
   padding-right: 10px;
   padding-top: 18px;
   margin-right: 5px;
   margin-bottom: 0px;
   padding-bottom: 15px;
}

.navigation {
   background-color: #333; 
   margin: 0;
}
.intro1st {
   background-color: white;
   height: 400px;
   margin-left: 15px;
   margin-top: 15px;
   margin-right:15px;  

}
.intro {
   background-color: white;
   height: 400px;
   margin-left: 15px;
   margin-top: 15px;
   margin-right:15px;
}

.nav {
   display: inline-block;
   font-family: sans-serif;
   font-size: 1.25rem; 
}
p {
   color: white;
   display: inline-block;
}

.icons {
   background-color: white;
   width: 18px;
}
.fa-solid {
   font-size: 20px;
   color: transparent;
   background-clip: text;
   background-image: linear-gradient(to right, tomato, tomato, tomato);
}
.hover-div:hover h2 {
   color: pink;
}

ul li a:hover p {
   color: tomato;
}
ul li a:hover i {
   color: white;
}
a {
   text-decoration: none;
   display: flex;
   justify-content: space-between;
   margin-left: 40px;
   margin-right: 35px;
   margin-bottom: 14px;
   margin-top: 5px;
   font-family: sans-serif;
   font-size: 0.99rem;
   font-weight: bold;
}
.hidden {
   display: none;
}
.visible {
   max-height: 500px; /* Adjust based on content */
   opacity: 1;
   transform: translateY(0);
}
   
#hamburger hr {
   width: 20px;
   margin-top: 5px;
   margin-bottom: 0px;
   cursor: pointer;
}
#hamburger {
   height: 28px;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 6px;
   padding-bottom: 5px;
   border-style: ridge;
   border-width: 0.1px;
   border-color: white;
   border: 1px solid transparent;
   box-shadow: 0 0 0px 1px rgba(239, 225, 225, 0.5);
   border-radius: 6px;
   margin-left: 190px;
   cursor: pointer;
}
.intro {
   display: flex;
   flex-direction: column;
   padding-top: 10px;
}
.resume {
display: flex;
flex-direction: row;
flex: 1;
}
#resume {
background-color: black;
color: tomato;
}
#contact {
   background-color: tomato;
}
.fa-handshake {
   background-image: linear-gradient(to right, black, black, black);
}

.resume button {
   flex: 1;
   height: 50px;
   margin-top: 126px;
   font-size: 18px;
   font-weight: bold;

   }
.intro-name p {
   display: block;
   margin-top: 10px;
   color: black;
   margin-left: 40px;
   font-family: sans-serif;
}
.cursor {
   font-weight: normal;
   font-size: 24px;
   color: black;
   animation: blink 0.7s step-end infinite;
   font-size: 30px;
}
#iam {
   color: crimson;
   font-size: 20px;
   font-weight: bold;
   margin-left: 43px;
}
#name {
   font-size: 50px;
   font-weight: bold;
   
}
#Fname {
   font-size: 50px;
   font-weight: bold;
}
#typing-text {
   margin-left: 50px;
   font-size: 30px;
   font-weight: bold;
   color: #333;
   
}
.typing-container{
   margin-top: 20px;
}

@keyframes blink {
   from, to { opacity: 1; }
   50% { opacity: 0; }
}
